
                        /* Fonts */
@font-face {
    font-family:"Urbanist-Semibold";
    src: url(fonts/Urbanist-SemiBold.ttf);
}
                        /* general code */

.logo {
    width: 120px;
    margin: 1rem 1rem;

}
.logo:hover   {
    width: 200px;

    } 
header{
  position: sticky;
  margin-top: 0%;
  width: 100%;
  background-color: #24253A;
  border-bottom:1px #fff;
  border-bottom-style: solid;
  z-index: 1;

}
body{
    margin: 0%;
    background-color: #24253A;
  
  }

footer{
    margin: 0%;
    background-color: #24253A;
  
  }

h1{
  display: flex;
  font-family: Urbanist-Semibold;
  font-size: 3.2rem;
  color: #fff;
  margin-top: 2rem;
  margin-left: 1.2rem;
  margin-bottom: 0.5rem;
  
  }

  h2{
    font-family: Urbanist-Semibold;
    font-size: 1rem;
    color: #fff;
    margin-left: 1.2rem;
    margin-top: 0.5rem;
  
  }

  h3{
    font-family: Urbanist-Semibold;
    font-size: 2.7rem;
    color: #fff;
    margin-left: 1.2rem;
    margin-bottom: 0.7rem;
    
  
  }
  

                        /* sections in the main */

 .hero-section-fir {
    background-color: #24253A;
    display: flex;
    flex-flow: row wrap;
  }  
  
.night-museum{
  display: flex;
  position: relative;
  float: ;
  top: -5rem;

  width: 100%;
  clip-path: inset(5rem 0rem 5rem 0px);

}   

.park{
display: none;


}   
.sceletor{
  width: 50%;

}   
.news{
  font-family: Satoshi-Black;
  display:flex;
  position: relative;
  font-size: 2.5rem;
  color: #fff;
  background-color: #66DE61;
  width: 14rem;
  height: 5rem;
  justify-content: center;
  align-content: stretch;
  align-items: center;
  margin-bottom: -6%;
  margin-top: 0rem;
  z-index: 1;
  


}
.text-hero {
  font-family: Urbanist-Semibold;
  display:flex;
  position: relative;
  font-size: 1.2rem;
  color: #fff;
  margin-left: 1.2rem;
  margin-right: 1.2rem;
  line-height: 1.8rem;
 
}
.aside-text{
  display: flex;
  font-family: Urbanist-Semibold;
  font-size: 2rem;
  color: #fff;
  flex-direction: column;
  background-color: black;
  padding: 2rem;
  
}
spam {
  color: #66DE61;
}

.buy-button-big{
  color: #fff;
  background-color: #66DE61;
  font-family: Urbanist-Semibold;
  font-size: 1.5rem;
  text-decoration: none;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;

}

  
             
                      /* menu bar */

.item-menu {
   color: #fff;
   background-color: #24253A;
   font-family: Urbanist-Semibold;
   text-decoration: none;
   font-size: 2rem;   
   padding: 2rem;  
   border-bottom:1px #fff;
   border-bottom-style: solid;  
          
  } 
.item-menu:hover   {
   font-size: 2.3rem;     
   color: #66DE61; 
   border-color: #66DE61;   
   } 

   
.menu {
    display: none;    
        
 }  
#menu-checkbox{
     display: none; 
            
}  
#menu-checkbox:checked ~ .menu {
    display: flex;    
    flex-direction: column;    
    float: inline-start;  
    border-bottom: 2px #fff;
    
}   
.hamburger-icon {
    display: flex;
    position: relative;
    font-size: 2rem;
    align-self: center;
    float: right;
    color: #fff;    
    padding-top: 2.4rem;
    padding-right: 1rem;     

}   

                   /* */ 
