
                        /* Fonts */
@font-face {
    font-family:"Urbanist-Semibold";
    src: url(fonts/Urbanist-SemiBold.ttf);
}
                        /* general code */

img {
    max-width: 100%;

}

.logo {
    width: 120px;
    margin: 1rem 1rem;

}
.logo:hover {
  color: #66DE61;

    } 

header{
  position: sticky;
  top: 0%;
  width: 100%;
  background-color: #24253A;
  border-bottom:1px #fff;
  border-bottom-style: solid;
  z-index: 2;

}
body{
    margin: 0%;
    background-color: #24253A;
    width: 100%;
  }

footer{
    margin: 0%;
    background-color: #24253A;
  
  }
  p {
    font-family: Urbanist-Semibold;
    font-size: 1rem;
   
  
  }

h1{
  display: flex;
  font-family: Urbanist-Semibold;
  font-size: 3.2rem;
  color: #fff;
  margin-top: 2rem;
  margin-left: 1.2rem;
  margin-bottom: 0.5rem;
  
  }

  h2{
    font-family: Urbanist-Semibold;
    font-size: 1.2rem;
    color: #fff;
    margin-left: 1.2rem;
    margin-top: 0.5rem;
  
  }

  h3{
    font-family: Urbanist-Semibold;
    font-size: 2.7rem;
    color: #fff;
    margin-top: 0rem;
    margin-left: 1.2rem;
    margin-bottom: 0.7rem;
    padding-top: 2rem;
    
  }

  h4{
    font-family: Urbanist-Semibold;
    font-size: 3rem;
    color: #24253A;
    margin-top: 0rem;
    margin-left: 1.2rem;
    margin-bottom: 0.7rem;
    padding-top: 2rem;
    
  }
  

                        /* sections in the main */

 .hero-section-fir {
    background-color: #24253A;
    display: flex;
    flex-flow: row wrap;
  }  
  
.night-museum{
  display: flex;
  position: relative;
  top: -5rem;
  width: 100%;
  clip-path: inset(5rem 0rem 5rem 0px);

}   

.park{
  display: none;
  

}   
 
.news{
  font-family: Satoshi-Black;
  display:flex;
  position: relative;
  font-size: 2.5rem;
  color: #fff;
  background-color: #66DE61;
  width: 14rem;
  height: 5rem;
  justify-content: center;
  align-content: stretch;
  align-items: center;
  margin-bottom: -6%;
  margin-top: 0rem;
  z-index: 1;
  


}
.text-hero {
  font-family: Urbanist-Semibold;
  display:flex;
  position: relative;
  font-size: 1.2rem;
  color: #fff;
  margin-left: 1.2rem;
  margin-right: 1.2rem;
  line-height: 1.8rem;
  top: -10rem;
 
}

.aside-text{
  display: flex;
  position: relative;
  font-family: Urbanist-Semibold;
  font-size: 2rem;
  color: #fff;
  flex-direction: column;
  background-color: black;
  padding: 2rem;
  top: -10rem;
  line-height: 3rem;
  
}
spam {
  color: #66DE61;
}

.buy-button-big{
  position: relative;
  top: -16rem;
  color: #fff;
  background-color: #66DE61;
  font-family: Urbanist-Semibold;
  font-size: 1.5rem;
  text-decoration: none;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  left: 15rem;
  line-height: 1rem;

}

.hero-section-sec {
  background-color: #8E8AF3;
  position: relative;
  top: -13rem;
         
 } 

 .wraper-container {
 display: flex;
 flex-direction: column;
 gap: 1rem;
 margin-left: 0.7rem;
 margin-right: 0.7rem;
         
 } 
 .program-wraper {
  position: relative;
  display: grid;
  grid-template-columns: 130px 80px 1fr 140px;
  grid-template-rows: 45px 45px 45px;
  background-color: #fff;
  border-radius: 25px;
  width: 23rem;
  height: 9rem;
  

  } 
  
  .event-heading {
    position: relative;
    margin-left: 1.2rem;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 1;
    font-family: Urbanist-Semibold;
    font-size: 1.5rem;
    color: #24253A;
    
    } 
.event-date {
  position: relative;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 3;
  margin-left: 1.2rem;
  margin-top: 0.5rem;
  font-size: 1.2rem;
  color: #24253A;

} 
.sceletor{
  display: flex;
  grid-column-start:4;
  grid-column-end: 6;
  z-index: 1;
  width: 120px;
  height: 120px;
  border-radius: 20px;
  margin: 0.7rem;
  object-fit: cover;

  
   } 

.buy-button-small {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row: 3;
  position: relative;
  color: #fff;
  background-color: #66DE61;
  font-family: Urbanist-Semibold;
  font-size: 1.2rem;
  text-decoration: none;
  display: flex;
  border-radius: 20px;
  align-content: space-between;
  justify-content: space-around;
  align-items: center;
  height: 33px;
}
.program-undertext {
  font-size: 1.2rem;
  color: #24253A;    


} 
.more-program {
  font-family: Urbanist-Semibold;
  color: #24253A;
  padding: 2rem;
  padding-top: 1rem;
  font-size: 1.2rem;
} 
.more-text-program{
  color: #24253A;

 
} 
    
             
                      /* menu bar */

.item-menu {
   color: #fff;
   background-color: #24253A;
   font-family: Urbanist-Semibold;
   text-decoration: none;
   font-size: 2rem;   
   padding: 2rem;  
   border-bottom:1px #fff;
   border-bottom-style: solid;  
          
  } 
.item-menu:hover   {
   font-size: 2.3rem;     
   color: #66DE61; 
   border-color: #66DE61;   
   } 

   
.menu {
    display: none;    
        
 }  
#menu-checkbox{
     display: none; 
            
}  
#menu-checkbox:checked ~ .menu {
    display: flex;    
    flex-direction: column;    
    float: inline-start;  
    border-bottom: 2px #fff;
    
}   
.hamburger-icon {
    display: flex;
    position: relative;
    font-size: 2rem;
    align-self: center;
    float: right;
    color: #fff;    
    padding-top: 2.4rem;
    padding-right: 1rem;     

}   
  

                   /* */ 
@media screen and (min-width:601px) {
   .wraper-container {
    flex-direction: row;
 }

.hero-section-fir{
  display: grid;
  grid-template-columns: 2;
  grid-template-rows: 3;
  width: 100%;
  column-gap: 5rem;
  row-gap: 15px;
 
 
  
}  
.park{
  display: flex;
  grid-column: 2;
  grid-row: 2;
  width: 30rem;
  height: 30rem;
  object-fit: cover;
  
  

}    
.night-museum{
  grid-column: 1;
  grid-row: 2/3;
  width: 1000px;
  height: 1000px;  
  object-fit: cover;

  
}
.news {
  grid-column: 1;
  grid-row: line 1;
  z-index: 1;
 

  
}
.text-hero {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row: 1;
  top:0;
  
}
.hero-container {
  position: relative;
  grid-column: 2;
  grid-row: 3;
  margin-bottom: 0;
  margin-right: 2rem;
  top: -22rem;
  width: 30rem;

  
}

  
}

    
    
 