
                        /* Fonts */

@font-face {
  font-family:"Urbanist-Bold" ;
  src: url(fonts/Urbanist-Bold.ttf);
}
@font-face {
    font-family:"Urbanist-Semibold";
    src: url(fonts/Urbanist-SemiBold.ttf);
}

@font-face {
  font-family:"Urbanist-Medium" ;
  src: url(fonts/Urbanist-Medium.ttf);
}
@font-face {
  font-family:"Satoshi-Black";
  src: url(fonts/Satoshi-Black.ttf);
}

@font-face {
  font-family: "Satoshi-Medium";
  src: url(fonts/Satoshi-Medium.ttf);
}

@font-face {
  font-family:"Urbanist-Light" ;
  src: url(fonts/Urbanist-Light.ttf);
}
                        /* general code */


img {
    max-width: 100%;

}

.logo {
    width: 120px;
    margin: 0.5rem 0.3rem;

}

.logo-footer {
  width: 100px;
  margin: 1rem 1rem;

}


header{
  position: sticky;
  top: 0%;
  width: 100%;
  background-color: #24253A;
  border-bottom:1px #fff;
  border-bottom-style: solid;
  z-index: 2;

}
body{
    margin: 0%;
    background-color: #24253A;
    width: 100%;
  }

  p {
    font-family: Urbanist-Semibold;
    font-size: 15px;
   
  }

h1{
  display: flex;
  font-family: Urbanist-Semibold;
  font-size: 3.2rem;
  color: #fff;
  margin-left: 1.2rem;
  margin-bottom: 0.5rem;
  padding: 1rem;
  margin: 0 auto;
  
  }

  h2{
    font-family: Urbanist-Semibold;
    font-size: 1.2rem;
    color: #fff;
    margin-left: 1.2rem;
    margin-top: 0.5rem;
  
  }

  h3{
    font-family: Urbanist-Semibold;
    font-size: 2.7rem;
    color: #fff;
    margin-top: 0rem;
    margin-left: 1.2rem;
    margin-bottom: 0.7rem;
    padding-top: 2rem;
    
  }
  h4 {
    font-family: Urbanist-SemiBold;
    font-size: 3rem;
    color: #24253A;
    margin-top: 0rem;
    margin-left: 1.2rem;
    margin-bottom: 0.7rem;
    padding-top: 2rem;
    
  }


  h5 {
    font-family: Urbanist-SemiBold;
    font-size: 2.7rem;
    color: #24253A;
    margin-top: 0rem;
    margin-left: 1.2rem;
    margin-bottom: 0.7rem;
    padding-top: 2rem;
    
  }
  .more a:hover {
   font-size: 1.3rem;

  }
  .more:hover {
    font-size: 1.3rem;
 
   }
   .more a:active {
    color: #66DE61;
 
   }
   .more:active {
     color: #66DE61;
  
    }
                       /* menu bar */

.item-menu {
  color: #24253A;
  background-color: #fff;
  font-family: Urbanist-Semibold;
  text-decoration: none;
  font-size: 1rem;   
  padding: 1.2rem;  
  border-bottom:1px #24253A;
  border-bottom-style: solid;  
         
 } 

.item-menu:hover   {
  font-size: 1.2rem;     
  color: #66DE61; 
  border-color: #66DE61;   
  } 

.menu {
   display: none;    
       
}  
#menu-checkbox{
    display: none; 
           
}  
#menu-checkbox:checked ~ .menu {
  position: absolute;
   display: flex;    
   flex-direction: column;    
   float: inline-start;  
   border: 2px #fff;
   right: 0%;
   width: 300px;  
}  


.ticket-icon,
.hamburger-icon {
   display: flex;
   position: relative;
   font-size: 1.5rem;
   align-self: center;
   float: right;
   color: #fff;    
   padding-top: 2.4rem;
   padding-right: 2rem;     

}   

.ticket-icon {
   padding-right: 2rem;     

}   
  

                        /* SECTIONS IN THE MAIN */
main{
  max-width: 1200px;
  margin: 0 auto;
}
                        

                        /*first section */


 .hero-section-fir {
    background-color: #24253A;
    display: flex;
    flex-flow: row wrap;
  }  
  
.night-museum{
  display: flex;
  position: relative;
  top: -5rem;
  width: 100%;
  clip-path: inset(5rem 0rem 5rem 0px);

}   

.park{
  display: none;
  

}   
 
.news{
  font-family: Satoshi-Black;
  display:flex;
  position: relative;
  font-size: 2.5rem;
  color: #24253A;
  background-color: #66DE61;
  width: 14rem;
  height: 5rem;
  justify-content: center;
  align-content: stretch;
  align-items: center;
  margin-bottom: -6%;
  margin-top: 0rem;
  z-index: 1;
  
}


.text-hero {
  font-family: Urbanist-Semibold;
  display:flex;
  position: relative;
  font-size: 1.2rem;
  color: #fff;
  margin-left: 1.2rem;
  margin-right: 1.2rem;
  line-height: 1.8rem;
  top: -10rem;
 
}

.aside-text{
  display: flex;
  position: relative;
  font-family: Urbanist-Semibold;
  font-size: 2rem;
  color: #fff;
  flex-direction: column;
  background-color: black;
  padding: 2rem;
  top: -10rem;
  line-height: 3rem;
  
}
spam {
  color: #66DE61;
}


.buy-button-big{
  position: relative;
  top: -16rem;
  color: #24253A;
  background-color: #66DE61;
  font-family: Urbanist-Bold;
  font-size: 1.5rem;
  text-decoration: none;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  left: 15rem;
  line-height: 1rem;

}

.buy-button-big:hover {
  color: #24253A;
  border-color: #24253A;
  background-color: #fff;

}
                      /* secound section */


.hero-section-sec {
  background-color: #8E8AF3;
  position: relative;
  top: -13rem;
         
 } 

 .wraper-container {
 display: flex;
 flex-direction: column;
 gap: 1rem;
 margin-left: 0.7rem;
 margin-right: 0.7rem;
         
 } 
 .program-wraper {
  position: relative;
  display: grid;
  grid-template-columns: 130px 80px 1fr 140px;
  grid-template-rows: 45px 45px 45px;
  background-color: #fff;
  border-radius: 25px;
  width: 22rem;
  height: 9rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  } 
  
  .event-heading {
    position: relative;
    margin-left: 1.2rem;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 1;
    font-family: Urbanist-Semibold;
    font-size: 1.5rem;
    color: #24253A;
    
    } 
.event-date {
  position: relative;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 3;
  margin-left: 1.2rem;
  margin-top: 0.5rem;
  font-size: 1.2rem;
  color: #24253A;

} 
.sceletor{
  display: flex;
  grid-column-start:4;
  grid-column-end: 6;
  z-index: 1;
  width: 120px;
  height: 120px;
  border-radius: 20px;
  margin: 0.7rem;
  object-fit: cover;

  
   } 

.buy-button-small {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row: 3;
  position: relative;
  color: #24253A;
  background-color: #66DE61;
  font-family: Urbanist-Semibold;
  font-size: 1.2rem;
  text-decoration: none;
  display: flex;
  border-radius: 20px;
  align-content: space-between;
  justify-content: space-around;
  align-items: center;
  height: 33px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.buy-button-small:hover {
  color: #24253A;
  border-color: #24253A;
  background-color: #fff;


}
.program-undertext {
  font-size: 1.2rem;
  color: #24253A;    


} 

.more-program {
  font-family: Urbanist-Semibold;
  color: #24253A;
  padding: 2rem;
  padding-top: 1rem;
  font-size: 1.2rem;
  background-color: #8E8AF3;
  margin-top: -13rem;

} 


.more-text-program{
  color: #24253A;

}   

                      /* third section*/


.hero-section-thir {
 background-color: #EC6830;  
 padding-bottom: 2rem;
}            

.explore-header{
  background-color: #469CEB;  

 } 
 .explore-header-secound {
 color: #24253A;  

 } 
.tag-news {
  font-family: Satoshi-Black;
  display:flex;
  position: relative;
  font-size: 2.5rem;
  color: #24253A;
  background-color: #F5C650;
  width: 14rem;
  height: 5rem;
  justify-content: center;
  align-content: stretch;
  align-items: center;
  margin-bottom: -6%;
  margin-top: 0rem;
  z-index: 1;
}

.kids-text-first{
  background-color: #fff;  
  padding-top: 1rem;
  margin-top: 0;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  margin-bottom: 0;
  font-size: 1.2rem;
 
 }   
 .kids-text-secound{
display: none;
 
 }   

 .more-kids {
  font-family: Urbanist-Semibold;
  background-color: #fff;
  color: #24253A;
  padding: 2rem;
  font-size: 1.2rem;
  margin-bottom: 3rem;
  margin-top: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


} 
                      /* four section*/
 .hero-section-four {
background-color: #EC6830;
border-bottom:solid 1px #fff;
}      

.tag-news-exhibition{
margin-top: 0;
font-family: Satoshi-Black;
display:flex;
position: relative;
font-size: 2.5rem;
color: #24253A;
background-color: #66DE61;
width: 14rem;
height: 5rem;
justify-content: center;
align-content: stretch;
align-items: center;
margin-bottom: -6%;
margin-top: 0rem;
z-index: 1;

} 


.date-scientist{
  margin-top: 0;
  font-family: Satoshi-Black;
  display:flex;
  position: relative;
  font-size: 1.2rem;
  color: #fff;
  background-color: #E9638A;
  width: 10rem;
  height: 3rem;
  justify-content: center;
  align-content: stretch;
  align-items: center;
  margin-top: -3rem;
  z-index: 1;
  margin-bottom: 0;
} 


.header-scientist-hero {
  background-color: #fff;
  margin: 0;
  padding-bottom: 1.2rem;
  padding-left: 1.2rem;
  font-size: 3rem;

}

.text-scientist-first {
  padding-left: 1.2rem;
  background-color: #fff;
  margin: 0%;
  padding-right: 1.2rem;
  font-size: 1.2rem;

}
.text-scientist-secound{
  display: none;

}
.more-scientist {
  background-color: #fff;
  font-family: Urbanist-Semibold;
  color: #24253A;
  padding: 2rem;
  padding-top: 2rem;
  font-size: 1.2rem;
  margin-bottom: 5rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

} 

 
/*********************************        PROGRAM PAGE       *********************************/   

.program-page-text {
  color: #fff;
}
.program-page-undertext{
  color: #fff;
}

.wraper-container-column{
  display: grid;
  grid-template-columns: 1fr;
  flex-direction: row;
  gap: 1.2rem;
  margin-left:0.6em;

  
}

.main-program {
  background-color: #469CEB;
  padding-bottom: 3rem;

}
.program-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.program-page-wraper {
  position: relative;
  display: grid;
  grid-template-columns: 130px 80px 1fr 140px;
  grid-template-rows: 45px 45px 45px;
  background-color: #fff;
  border-radius: 25px;
  width: 22rem;
  height: 9rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  } 
  .hero-container-program{
   display: none;
  
    
  }
  .park-program{
    display: none;

  }

  .tag-news-program {
    display: none;
  }
/*********************************        EXPLORE PAGE       *********************************/   

.explore-main-colour{
  padding-bottom: 3rem;
  background-color: #EC6830;

}
.explore-page-header{
  margin-top: 0;
  padding-top: 1.2rem;
}

.researcher-header,
.for-kids-header,
.teacher-header,
.header-explore-together {
  display: flex;
  background-color: #8E8AF3;
  margin-left: 0;
  padding: 1rem;
  margin-bottom: 0;
}

.for-kids-header {
  background-color: #66DE61;

}
.teacher-header{
  background-color: #C98252;

}
.img-explore {
  height: 15rem;
  width: 100%;
  object-fit: cover;
}
.explore-text{
  background-color: #fff;
  font-size: 1.2rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 1.2rem;
  margin-top: 0;
}


/*********************************        EXHIBITION PAGE       *********************************/  

.exhibition-main-colour {
 display:flex;
 flex-direction: column;
 background-color: #EC6830;

}
.header-page-exhibition {
  padding-top: 1.2rem;
  margin-top: 0;
  color: #24253A;
  background-color: #C98252;
 
 }
 .untertext-page-exhibition {
  color: #24253A;
  background-color: #C98252;
 
 }

 .cosmology-img{
  display: flex;
  position: relative;
  width: 30rem;
  height: 20rem;
  object-fit: cover;
 }

 .cosmology-wrapp{
  display:grid;
  grid-template-columns: 3;
  grid-template-rows: 4;
  
}  

 .header-wrapp{
  grid-row: 1;
  grid-column: 1;
  display: flexbox;
  color: #fff;
  background-color: #24253A;
  height: 6rem;
  width: 12rem;
  z-index: 1;
  padding-left: 1.2rem;
  align-self: end;
  
 }

 .cosmology-img{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 1;

 }

 .header-date{
  font-size: 1.2rem;
  font-family: Urbanist-Medium;
  margin-top: 0.6rem;
 
 }
 
 .header-cosmology{
  margin-top:0.5rem;
  font-size: 2rem;
  margin-bottom: 0;
  
 }

 .text-big{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 2;
  padding: 1.2rem;
  padding-bottom: 5rem;
  background-color: #fff;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  margin-bottom: 1.2rem;

 }

 .btn-exh{
  
  grid-column: 2;
  grid-row: 2;
  align-self: flex-end;
  width: 5rem;
  z-index: 1;
  margin: 2rem;
  margin-bottom: 3rem;

 }

 .link-program,
 .icon-ticket-exh {
  grid-column:1;
  grid-row: 2;
  align-self: flex-end;
  margin-bottom: 2rem;
 
}

.ticket-icon-dark{
  color: #24253A;
  display: flex;
  position: relative;
  font-size: 1.5rem;
  align-self: center;
  float: right;   
  padding-top: 2.4rem;
  padding-right: 2rem;  
  transform:rotate(45deg);
}

.link-program {
 margin-bottom: 3.1rem;
 margin-left: 2rem;
 font-size: 1rem;
 font-family: Satoshi-Black;
 color: #24253A;
 
}

/*********************************        SPECIAL VISIT PAGE       *********************************/ 
.grid-special-visit{
display: none;
}
.special-visit-main-colour {
  display: flex;
  flex-direction: column;
  background-color: #8E8AF3;
  padding-top: 1.2rem;
}
.newe-visit-inginere{
  font-family: Satoshi-Black;
  display:flex;
  position: relative;
  font-size: 2.5rem;
  color: #fff;
  background-color: #66DE61;
  width: 14rem;
  height: 5rem;
  justify-content: center;
  align-content: stretch;
  align-items: center;
  margin-top: 0rem;
  margin-bottom: -8rem;
  z-index: 1;


}
.visit-header{
  margin-left: 1rem;
  }

.date-visit-inginere {
margin-top: 0;
font-family: Satoshi-Black;
display:flex;
position: relative;
font-size: 1.2rem;
color: #fff;
background-color: #E9638A;
width: 10rem;
height: 3rem;
justify-content: center;
align-content: stretch;
align-items: center;
z-index: 1;
top: 20rem;

}

.header-text-visit-page{
  margin-top: 0;
  margin-bottom: 0;
  font-family: Urbanist-Semibold;
  display:flex;
  position: relative;
  font-size: 3rem;
  color: #24253A;
  background-color: #fff;
  padding: 1.2rem;
  }

.text-visit-page{
  font-family: Urbanist-Semibold;
  display:flex;
  position: relative;
  font-size: 1.2rem;
  color: #24253A;
  background-color: #fff;
  margin-top: 0%;
  padding: 1.2rem;
  }

.newe-visit-night-museum{
  font-family: Satoshi-Black;
  display:flex;
  position: relative;
  font-size: 2.5rem;
  color: #fff;
  background-color: #66DE61;
  width: 14rem;
  height: 5rem;
  justify-content: center;
  align-content: stretch;
  align-items: center;
  margin-bottom: -6%;
  margin-top: 0rem;
  z-index: 1;
  margin-bottom: -7rem;

}
.date-visit-night-museum{
  margin-top: 0;
  font-family: Satoshi-Black;
  display:flex;
  position: relative;
  font-size: 1.2rem;
  color: #fff;
  background-color: #E9638A;
  width: 10rem;
  height: 3rem;
  justify-content: center;
  align-content: stretch;
  align-items: center;
  top: 19rem;
  z-index: 1;
  margin-bottom: 0;
  }

  .header-text-museum-page{
    margin-top: 0;
    margin-bottom: 0;
    font-family: Urbanist-Semibold;
    display:flex;
    position: relative;
    font-size: 3rem;
    color: #24253A;
    background-color: #fff;
    padding: 1.2rem;
    }

.text-visit-museum-page{
  font-family: Urbanist-Semibold;
  display:flex;
  position: relative;
  font-size: 1.2rem;
  color: #24253A;
  background-color: #fff;
  margin-top: 0%;
  padding: 1.2rem;
  }

.newe-visit-exhibition{
    font-family: Satoshi-Black;
    display:flex;
    position: relative;
    font-size: 2.5rem;
    color: #fff;
    background-color: #66DE61;
    width: 14rem;
    height: 5rem;
    justify-content: center;
    align-content: stretch;
    align-items: center;
    margin-bottom: -6%;
    margin-top: 0rem;
    z-index: 1;
    margin-bottom: -4rem;
  
  }
  .date-visit-exhibition{
    margin-top: 0;
    font-family: Satoshi-Black;
    display:flex;
    position: relative;
    font-size: 1.2rem;
    color: #fff;
    background-color: #E9638A;
    width: 10rem;
    height: 3rem;
    justify-content: center;
    align-content: stretch;
    align-items: center;
    margin-top: -3rem;
    z-index: 1;
    margin-bottom: 0;
    bottom: -19rem;
    }

.header-text-exhibition-page{
  margin-top: 0;
  margin-bottom: 0;
  font-family: Urbanist-Semibold;
  display:flex;
  position: relative;
  font-size: 3rem;
  color: #24253A;
  background-color: #fff;
  padding: 1.2rem;
  }

.text-visit-exhibition-page{
  font-family: Urbanist-Semibold;
  display:flex;
  position: relative;
  font-size: 1.2rem;
  color: #24253A;
  background-color: #fff;
  margin-top: 0%;
  padding: 1.2rem;
  }
.img-special-visit{
  display: flex;
  position: relative;
  margin-top: 0;
  height: 20rem;
  width: 100%;
  object-fit: cover;

}


/*********************************        CONTACT PAGE       *********************************/   


.contact-main{
  background-color:#EC6830;
  margin:5%;

   }

.untertext-page-contact,
.header-page-contact{
  width: 100%;
  margin-top: 0%;
  color: #24253A;
  
   }

.header-page-contact{
  padding-top: 1.2rem;
     }

.untertext-page-contact{
  padding-bottom: 1.2rem;
     }

.contact-form-wrapper{
  margin:1.2rem;
  background-color: #fff;
  border-radius: 25px;
  max-width: 320px;
  max-height: 610px;
  display: flex;
  flex-direction: column;
  padding: 1.2rem;
  justify-items: center;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#text-form,
#subject,
#email,
#name {
  width:80%;
  padding: 0.7rem;
  border: none;
  border:1px solid #24253A;
  margin:0.5rem;
  margin-top: 0;
}

#text-form {
  padding: 3rem;

  
}

.contact-form-header{
  font-size: 2rem;
}

.input_form {
  padding:0.3rem;
  border:1px solid #24253A;
  border-bottom: none;
  font-size: 0.7rem;
  align-self: flex-start;
  margin-left: 2.95rem;
  margin-top: 1rem;
  font-family: Urbanist-Light;

}

.buy-button-card,
#submit-form {
  width: 5rem;
  height: 2.6rem;
  font-family: Urbanist-Semibold;
  background-color: #24253A;
  border-radius: 0%;
  border: none;
  color: #fff;
  margin: 1rem;
 
}

.contact-box {
  background-color: #F5C650;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin:1.2rem;
  padding-bottom: 3rem;
  padding: 1.2rem;
  font-family: Urbanist-Light;
}

  
/*********************************        BUY TICKET PAGE       *********************************/   


.header-buy{
  color: #24253A;

}


.header-ticket{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 1;
  background-color: #D9D9D9;
  width: 100%;


}


.grid-buyticket{
  display: flex;
  flex-direction: column;
}

.nr3,
.nr2,
.nr1{
  display: flex;
  flex-direction: row;
  align-items: center;
  
}

.nr3-element,
.nr2-element,
.nr1-element{
 margin: 1.2rem;
 text-align: center;
 background-color: #24253A;
 color: #fff;
 border-radius: 50%;
 width: 50px;
 line-height: 50px;
 font-size: 1.2rem;
 

}
 
.nr3-text,
.nr2-text,
.nr1-text{
   font-size: 1.5rem;
    
  }

.card-inf-success,
.card-inf{
 grid-column: 2;
 grid-row: 2;
 align-items: center;
 justify-items: center;

}

.nr3 {
  grid-column: 1;
  grid-row: 1;

 }


.buy-wrapp-container{
  grid-column: 1;
  grid-row:2;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  width:350px;
  justify-content: center;
  margin:0 auto;
  

}

.buy-wrapp{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  background-color: #fff;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 80px;

}

.total {
  
  background-color: #66DE61;
  padding: 1.2rem;
  width: 120px;
  font-family:Urbanist-Bold;
  align-self: flex-end;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.main-contact {
  background-color: #F5C650;

}

.input-cvv2,
.input-name,
.input-year,
.input-month,
.input-card {
  width: 250px;
  height: 45px;
  border: 1px solid #24253A;

}
.card-inf-success,
.card-inf{
  display: grid;
  grid-template-columns: 2;
  grid-template-rows: 5;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 1.2rem;
  width: 300px;
  height: 500px;
  margin-bottom: 2rem;

}

.card-inf-success{
  grid-column: 1;
  grid-row: 2;

 }

.input-card {
  grid-column-start:1;
  grid-column-end: 3;
  grid-row: 1;
}

.input-name{
  grid-column-start:1;
  grid-column-end: 3;
  grid-row: 3;
}


.input-month{
  width: 100px;
  grid-column:1;
  grid-row: 2;
}

.input-year{
  width:100px;
  grid-column:2;
  grid-row: 2;
}

.input-cvv2{
  width:100px;
  grid-column: 1;
  grid-row: 4;
}

.buy-button-card{
 grid-column-start: 1;
 grid-column-end: 3;
 grid-row: 5;
 text-decoration: none;
 text-align: center;
 justify-self: center;
 line-height: 40px ;
}

.aside-payment{
 grid-column: 2;
 grid-row: 2;
}

/*********************************        BUY SUCCESS PAGE       *********************************/    


.main-success{
  background-color: #F5C650;

}

.gid-success{
  display: flex;
  flex-direction: column;

  }

.aside-payment {
  display: none;
}

.icon-success{
  padding-bottom: 1rem;
  font-size: 3rem;
  grid-column-start:1 ;
  grid-column-end: 3;
  grid-row: 1;

}

.card-inf-success{
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 6;
  align-content: center;
}

.text1{
  text-decoration: underline;
  font-size: 1.2rem;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 2;
}
.go-home{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 6;
}


/*********************************        ABOUT US PAGE       *********************************/   

.main-about {
  background-color: #EC6830;
  margin: 0 auto;
  padding-top: 0.5rem;
  
}

.header-page-about,
.undertext-page-about{
  color: #24253A;
}

.food-img {
  height: 15rem;
  width: 100%;
  object-fit: cover;

}

.text-small-about,
.tex-big {
  background-color: #fff;
  color: #24253A;
  padding: 1.2rem;
  margin: 0 auto;
}

.tex-big {
  font-size: 2rem;
}




                   /*footer */ 
footer{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 10;
  background-color: #24253A;
  color: #fff;
  font-size: 1rem;
  margin-left: 1.2rem;
  margin-right: 1.2rem;
  margin-bottom: 4rem;
  row-gap: 0.2rem;
  column-gap: 0;

  
                  
}                 

.logo-footer{
margin-left: 0;
 grid-column: 1;
 grid-row: 1;
                  
}    
.Hours-footer-heading{
  grid-column: 1;
  grid-row: 2;
  font-size: 1.5rem;
                   
 }    

.hours-footer{
  grid-column-start: 1;
  grid-column-end: line3;
  grid-row: 3;

}      

.admission-footer-header{
  grid-column: 1;
  grid-row: 4;
  font-size: 1.5rem;
  display: flex;

  }  

.admission-footer{
  display: flex;
  position: relative;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 5;

    } 

.lociation-footer-header{
  grid-column: 1;
  grid-row: 6;
  font-size: 1.5rem;
  } 

.lociation-footer{
    grid-column: 1;
    grid-row: 7;
    
    } 
.contact-footer-header{
  grid-column: 2;
  grid-row: 6;
  font-size: 1.5rem;
  
  } 
.contact-footer{
    grid-column: 2;
    grid-row: 7;
    
    } 
.subscribe-wrapper {
  grid-column-start:1;
  grid-column-end: 3;
  grid-row:9;
  font-family: Urbanist-SemiBold;
}

.subscribe-text {
  display: flex;
  position: relative;
  margin-bottom: 1rem;
  margin-top:1rem;


}
.btn-subscribe,
#subscribe-placeholder{
  height: 2rem;
  border-radius: 0;
  border: none;
}

.btn-subscribe {
  background-color: #24253A;
  border: solid 1px #fff;
  color:#fff ;
  padding-left: 1rem;
  padding-right: 1rem;
}

                    /* */ 
@media screen and (min-width:601px) {

.wraper-container {
  flex-direction: row;
   
 }
 .ticket-icon,
.hamburger-icon {
   font-size: 2rem;
  
}   

.logo {

  margin: 1rem 1.2rem;

}


.hero-section-fir{
  display: grid;
  grid-template-columns: 2;
  grid-template-rows: 2;
  width: 100%;
  column-gap: 5rem;
  row-gap: 15px;
  height: 1300px;
 
 
  
}  
.park{
  display: flex;
  grid-column: 2;
  grid-row: 2;
  width: 30rem;
  height: 30rem;
  object-fit: cover;
  
  

}    
.night-museum{
  grid-column: 1;
  grid-row: 2/3;
  width: 1000px;
  height: 1000px;  
  object-fit: cover;

  
}
.news {
  grid-column: 1;
  grid-row: line 1;
  z-index: 1;
 

  
}
.text-hero {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row: 1;
  top:0;
  
}
.hero-container {
  position: relative;
  grid-column: 2;
  grid-row: 3;
  margin-bottom: 0;
  margin-right: 2rem;
  top: -22rem;
  width: 30rem;

  
}
.more-program {
position: relative;
margin-top: -13rem;

} 
.hero-section-sec{
  height: 20rem;
  } 
                      
footer{
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 5;
    margin-left: 3rem;
    margin-right: 1.2rem;
    margin-bottom: 4rem;
    row-gap: 0.2rem;
    column-gap: 6rem;
                    
  }    
.admission-footer{
  grid-column-end: 2;
  }  
.lociation-footer-header{
    grid-column: 2;
    grid-row: 2;
    
    } 
.lociation-footer{
    grid-column: 2;
    grid-row: 3;
    
    } 
.contact-footer-header{
  grid-row: 4;

  
  } 
.contact-footer{
    grid-column: 2;
    grid-row:5;
    
    } 
.subscribe-wrapper {
    grid-column-start:3;
    grid-column-end: 3;
    grid-row:2;
  } 

.kids-text-first {
   margin-block-end: 0;
    
} 

.kids-text-secound {
  display: flex;
  background-color: #fff;  
  padding: 1rem;;
  margin-top: 0;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  font-size: 1.2rem;
  margin-bottom: 0%;
  padding-bottom: 0;
} 

.text-scientist-secound {
  display: flex;
  padding-left: 1.2rem;
  background-color: #fff;
  margin: 0%;
  padding-right: 1.2rem;
  font-size: 1.2rem;

}

.wraper-container-column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-left: 0.7rem;
  margin-right: 0.7rem;
          
  } 
.program-page-wraper {
  position: relative;
  display: grid;
  grid-template-columns: 130px 80px 1fr 140px;
  grid-template-rows: 45px 45px 45px;
  background-color: #fff;
  border-radius: 25px;
  width: 30rem;
  height: 9rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  } 
.main-program{
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 3;
   row-gap: 1rem;
   column-gap: 5rem;
    } 
.program-page-undertext {
   grid-column: 1;
   grid-row: 2;
   margin-bottom: 0;
}
.wraper-container-column{
  grid-column: 1;
  grid-row: 3;
  margin-bottom: 3rem;
}

.hero-container-program{
  display: block;
  margin-top: 40rem;
  width: 30rem;
  grid-column: 2;
  grid-row-start: 3;

}

.buy-container-program{
  width: 30rem;
  margin-top: 0rem;
 
}


.park-program{
  margin-top: 3rem;
  display: flex;
  grid-column: 2;
  grid-row: 3;
  width: 30rem;
  height: 30rem;
  object-fit: cover;
}
.tag-news-program{
  grid-column: 2;
  grid-row: 3;
  margin-top: 0;
  font-family: Satoshi-Black;
  display:flex;
  position: relative;
  font-size: 2.5rem;
  color: #24253A;
  background-color: #66DE61;
  width: 14rem;
  height: 5rem;
  justify-content: center;
  align-content: stretch;
  align-items: center;
  margin-bottom: -6%;
  margin-top: 0rem;
  z-index: 1;
  
  } 

/*********************************        EXPLORE  MEDIA PAGE       *********************************/   

.grid-explore{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows:7 ;
  row-gap: 1rem; 


}
.img-explore {
  height: 21rem;
  grid-column: 1;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}
.explore-page-undertext {
  grid-column: 1;
  grid-row: 2;

}
.explore-text{
  grid-column: 2;
  align-self: stretch;

}
.header-explore-together,
.researcher-header,
.teacher-header,
.for-kids-header,
.explore-page-header{
  grid-column: 1;
  height: 3rem;

}
.text-explore-together{
grid-column: 2;
grid-row-start: 3;
align-self: stretch;
margin-bottom: 0;

}
.header-explore-together {
  grid-row: 3;
  margin: 0;
  align-self: end;
  
  }
.explore-astronaut-img {
  grid-row: 3;
  align-self: stretch;
  
  }
.explore-boy-img {
  grid-row: 4;
  height: 23.5rem;
  
  }
.for-kids-header{
  grid-row-start: 4;
  align-self: end;
 
  
  }
.for-kids-text{
  grid-row: 4;
  align-self: stretch;
  margin-bottom: 0;

  
  }
.teacher-img{
  grid-row: 5;
  height: 21rem;
  margin-bottom: 0;
  
  }
.teacher-header{
  grid-row: 5;
  align-self: end;

  
  }
.teachers-text{
  grid-row: 5;
  align-self: stretch;
  margin-bottom: 0;

  }
.researcher-header{
  grid-row: 6;
  align-self: end;
  
  }

.explore-teacher-img{
  grid-row: 6;

  }

.researcher-text{
  grid-row: 6;
  align-self: stretch;
  margin-bottom: 0;

  }

/**********************************        EXHIBITIONS          **************************************************/


  .grid-exhibition-cosmology {
    background-color: #EC6830;

  }

  .exhibition-main-content {
    display:grid;
    grid-template-columns: 400px 400px;
    grid-template-rows: 2;
    gap: 5rem;
    justify-content: center;
    align-items: start;
    justify-items: center;
    
  }

  .wrapp-one-ex{
    grid-column: 1;
    grid-row: 1;
    
  }

  .wrapp-two-ex{
    grid-column: 2;
    grid-row: 1;
    
  }

  .wrapp-three-ex{
    grid-column: 1;
    grid-row: 2;
    
  }

  .wrapp-four-ex{
    grid-column: 2;
    grid-row: 2;
    
  }

/*********************************        SPECIAL VISIT  MEDIA PAGE       *********************************/  


.grid-special-visit {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows:5 ;
  row-gap: 1rem; 
} 

.visit-header{
  grid-column: 1;
  grid-row: 1;
  }

.visit-undertext{
  grid-column: 1;
  grid-row: 2;
  }

.newe-visit-inginere{
  grid-column: 1;
  grid-row: 3;
  }

.date-visit-inginere{
  grid-column: 1;
  grid-row: 3;
  align-self: end;
  margin-bottom: 0;
  top: 0rem;
  }

.inginere-visit-img{
  grid-column: 1;
  grid-row: 3;
  }

.header-text-visit-page{
  grid-column: 2;
  grid-row: 3;
  }

.text-visit-page{
  grid-column: 2;
  grid-row: 3;
  align-self: end;
  }

.newe-visit-night-museum{
  grid-column: 1;
  grid-row: 4;
 
  }

.date-visit-night-museum{
  grid-column: 1;
  grid-row: 4;
  align-self: end;
  top:0rem;
  }

.night-museum-visit-img{
  grid-column: 1;
  grid-row: 4;
 
  }

.header-text-museum-page{
  grid-column: 2;
  grid-row: 4;
  }

.text-visit-museum-page{
  grid-column: 2;
  grid-row: 4;
  align-self: end;
  }

.newe-visit-exhibition{
  grid-column: 1;
  grid-row: 5;
 
  }

.date-visit-exhibition{
  grid-column: 1;
  grid-row: 5;
  align-self: end;
  bottom: 0;
  }

.exhibition-loan-visit-img {
  grid-column: 1;
  grid-row: 5;
 
  }

.header-text-exhibition-page{
  grid-column: 2;
  grid-row: 5;
  }

.text-visit-exhibition-page{
  grid-column: 2;
  grid-row: 5;
  align-self: end;
  }

/***********************************        CONTACT DESKTOP VIEW        ***********************************/

.contact-main{
 display:grid;
 grid-template-columns: 1fr 1fr;
 grid-template-rows: 3;
 margin: 0 auto;
 justify-items: center;
   }
.header-page-contact{
  grid-column: 1;
  grid-row: 1;
}

.untertext-page-contact{
  grid-column: 1;
  grid-row: 2;
  align-self: baseline;
}

.contact-box{
  margin-top:3rem;
  grid-column: 1;
  grid-row: 2;

}

.contact-form-wrapper{
  margin-top:3rem;
  grid-column: 2;
  grid-row: 2;
  width: 450px;
  align-self: center;


}
/***********************************        ABOUT US DESKTOP VIEW        ***********************************/
.grid-about{
  display:grid;
  grid-template-columns: 350px 350px 350px;
  gap: 1.2rem;
  justify-content: center;
  padding-bottom: 1.2rem;

}
.wrapp-about-first{
  grid-column: 1;

}

.wrapp-about-secound{
  grid-column: 2;

}

.wrapp-about-third{
  grid-column: 3;

}
.text-small-about{
  grid-column: 3;
  height: 72px ;

}
/***********************************        BUY TICKET DESKTOP VIEW        ***********************************/

.grid-buyticket{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1r;

}

.card-inf{
 grid-column: 2;
 grid-row: 2;

}

.grid-buyticket{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1r;

}

.gid-success{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2;
  
  }


.aside-payment {
  display: flex;
  flex-direction: column;
}
}
